metrics-server:
  args:
    - --kubelet-insecure-tls
    - --kubelet-preferred-address-types=InternalIP,Hostname,InternalDNS,ExternalDNS,ExternalIP
  replicas: 2
  resources:
    requests:
      cpu: 100m
      memory: 200Mi
    limits:
      cpu: 250m
      memory: 512Mi
  service:
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "4443"
  metrics:
    enabled: true
  serviceMonitor:
    enabled: true
    namespace: prometheus
    additionalLabels:
      release: kube-prometheus-stack
    interval: 30s
    scrapeTimeout: 10s
      