traefik:
  logs:
    general:
      level: INFO
    access:
      enabled: true
      format: json
  additionalArguments:
    - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
    - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
    - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
  providers:
    kubernetesCRD:
      enabled: true
    kubernetesIngress:
      enabled: true
      publishedService:
        enabled: true
  ingressClass:
    enabled: true
    isDefaultClass: true
    name: traefik
  service:
    single: true
    type: LoadBalancer
    annotations:
      metallb.universe.tf/address-pool: homelab-services
    spec:
      externalTrafficPolicy: Cluster
      loadBalancerIP: 10.22.6.10
  ports:
    web:
      expose:
        default: true
    websecure:
      expose:
        default: true
  ingressRoute:
    dashboard:
      enabled: true
      entryPoints:
        - websecure
      routes:
        - match: Host(`traefik.k8s.shimmerlabs.xyz`)
          kind: Rule
          services:
            - name: traefik
              port: 80
          middlewares:
            - name: traefik-dashboard-auth
