traefik:
  logs:
    general:
      level: INFO
    access:
      enabled: true
      format: json
  additionalArguments:
    - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
    - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
    - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
  providers:
    kubernetesCRD:
      enabled: true
    kubernetesIngress:
      enabled: true
      publishedService:
        enabled: true
  ingressClass:
    enabled: true
    isDefaultClass: true
    name: traefik
  service:
    single: true
    type: LoadBalancer
    annotations:
      metallb.universe.tf/address-pool: homelab-services
    spec:
      externalTrafficPolicy: Cluster
      loadBalancerIP: 10.22.6.10
  ports:
    metrics:
      port: 9100
      expose:
        default: false
      exposedPort: 9100
      protocol: TCP
    web:
      expose:
        default: true
    websecure:
      expose:
        default: true
  metrics:
    prometheus:
      enabled: true
      entryPoint: metrics
      service:
        enabled: true
        labels:
          release: kube-prometheus-stack
      serviceMonitor:
        enabled: true
        namespace: prometheus
        additionalLabels:
          release: kube-prometheus-stack
  ingressRoute:
    dashboard:
      enabled: true
      entryPoints:
        - websecure
      matchRule: Host(`traefik.k8s.shimmerlabs.xyz`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      services:
        - name: api@internal
          kind: TraefikService
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod