democratic-csi:
  csiDriver:
    name: "org.democratic-csi.iscsi"

  storageClasses:
    - name: truenas-iscsi
      defaultClass: true
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
      allowVolumeExpansion: true
      parameters:
        fsType: ext4
  
  driver:
    existingConfigSecret: truenas-iscsi-config-secret
    config:
      driver: freenas-iscsi

  test:
    enabled: false