democratic-csi:
  csiDriver:
    name: "org.democratic-csi.iscsi"

  storageClasses:
    - name: truenas-iscsi
      defaultClass: true
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
      allowVolumeExpansion: true
      parameters:
        fsType: ext4
  
  driver:
    existingConfigSecret: truenas-iscsi-config
    config:
      driver: freenas-api-iscsi

  test:
    enabled: false

  service:
    port: 80

  controller:
    driver:
      image:
        tag: next@sha256:34d1b1dac29ec3288f9f8d419bcb16a33b0c0170b52493dcf1aa2fd48c221b10