grafana:
  replicas: 1

  adminUser: admin
  adminPassword: changeme

  service:
    type: ClusterIP
    port: 80

  persistence:
    enabled: true
    type: sts
    storageClassName: truenas-iscsi
    accessModes:
      - ReadWriteOnce
    size: 10Gi
    finalizers:
      - kubernetes.io/pvc-protection

  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      - grafana.k8s.shimmerlabs.xyz
    tls: []

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi