authentik:
  authentik:
    secret_key: changeme_asdf1234

    postgresql:
      host: authentik-pg-rw
      user: authentik
      password: file:///postgres-creds/password
  server:
    ingress:
      enabled: true
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        cert-manager.io/cluster-issuer: letsencrypt-prod
      ingressClassName: traefik
      hosts:
        - authentik.k8s.shimmerlabs.xyz
      tls:
        - hosts:
            - authentik.k8s.shimmerlabs.xyz
          secretName: authentik-tls
    podAnnotations:
      reloader.stakater.com/auto: "true"
    volumes:
      - name: postgres-creds
        secret:
          secretName: authentik-db-auth
    volumeMounts:
      - name: postgres-creds
        mountPath: /postgres-creds
        readOnly: true

    metrics:
      serviceMonitor:
        enabled: true
        namespace: prometheus
      
  worker:
    podAnnotations:
      reloader.stakater.com/auto: "true"
    volumes:
      - name: postgres-creds
        secret:
          secretName: authentik-db-auth
    volumeMounts:
      - name: postgres-creds
        mountPath: /postgres-creds
        readOnly: true
    metrics:
      serviceMonitor:
        enabled: true
        namespace: prometheus
 
dbPassword:
  generate: true
  length: 32
  symbols: 0
  secretName: authentik-db-auth