authentik:
  authentik:
    secret_key: changeme_asdf1234

    postgresql:
      host: authentik-pg-rw
      user: file:///postgres-creds/username
      password: file:///postgres-creds/password
  server:
    ingress:
      enabled: true
      ingressClassName: traefik
      hosts:
        - authentik.k8s.shimmerlabs.xyz
      tls:
        - hosts:
            - authentik.k8s.shimmerlabs.xyz
          secretName: authentik-tls
    volumes:
      - name: postgres-creds
        secret:
          secretName: authentik-pg-app
    volumeMounts:
      - name: postgres-creds
        mountPath: /postgres-creds
        readOnly: true

    metrics:
      serviceMonitor:
        enabled: true
        namespace: prometheus
      
  worker:
    volumes:
      - name: postgres-creds
        secret:
          secretName: authentik-pg-app
    volumeMounts:
      - name: postgres-creds
        mountPath: /postgres-creds
        readOnly: true
    metrics:
      serviceMonitor:
        enabled: true
        namespace: prometheus
 