argo-cd:
  fullnameOverride: argocd
  global:
    logging:
      level: info
    securityContext:
      runAsNonRoot: true

  configs:
    cm:
      url: https://argocd.k8s.shimmerlabs.xyz
    params:
      server.insecure: true

  controller:
    replicas: 1
    metrics:
      enabled: true
      service:
        labels:
          release: kube-prometheus-stack
      serviceMonitor:
        enabled: true
        namespace: prometheus
        additionalLabels:
          release: kube-prometheus-stack

  repoServer:
    autoscaling:
      enabled: false
    metrics:
      enabled: true
      service:
        labels:
          release: kube-prometheus-stack
      serviceMonitor:
        enabled: true
        namespace: prometheus
        additionalLabels:
          release: kube-prometheus-stack

  server:
    service:
      type: ClusterIP
    ingress:
      enabled: true
      ingressClassName: traefik
      hostname: argocd.k8s.shimmerlabs.xyz
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
        cert-manager.io/cluster-issuer: letsencrypt-prod
      paths:
        - /
      https: false
    extraArgs:
      - --insecure
    metrics:
      enabled: true
      service:
        labels:
          release: kube-prometheus-stack
      serviceMonitor:
        enabled: true
        namespace: prometheus
        additionalLabels:
          release: kube-prometheus-stack

  redis:
    enabled: true

