argo-cd:
  fullnameOverride: argocd
  global:
    logging:
      level: info
    securityContext:
      runAsNonRoot: true

  configs:
    cm:
      url: https://argocd.k8s.shimmerlabs.xyz
      dex.config: |
        issuer: https://argocd.k8s.shimmerlabs.xyz/api/dex
        connectors:
        - type: oidc
          id: authentik
          name: authentik
          config:
            issuer: https://authentik.k8s.shimmerlabs.xyz/application/o/argocd/  # update slug if different
            clientID: $dex.authentik.clientID
            clientSecret: $dex.authentik.clientSecret
            insecureEnableGroups: true
            scopes:
              - openid
              - profile
              - email
    params:
      server.insecure: true
      dex.server: https://argocd.k8s.shimmerlabs.xyz/api/dex
      server.dex.server: https://argocd.k8s.shimmerlabs.xyz/api/dex
      server.dex.server.strict.tls: "false"
    rbac:
      policy.csv: |
        g, ArgoCD Admins, role:admin
        g, ArgoCD Viewers, role:readonly

  controller:
    replicas: 1
    metrics:
      enabled: true
      service:
        labels:
          release: kube-prometheus-stack
      serviceMonitor:
        enabled: true
        namespace: prometheus
        additionalLabels:
          release: kube-prometheus-stack

  repoServer:
    autoscaling:
      enabled: false
    metrics:
      enabled: true
      service:
        labels:
          release: kube-prometheus-stack
      serviceMonitor:
        enabled: true
        namespace: prometheus
        additionalLabels:
          release: kube-prometheus-stack

  server:
    certificate:
      enabled: true
      domain: argocd.k8s.shimmerlabs.xyz
      issuer:
        kind: ClusterIssuer
        name: letsencrypt-prod
    service:
      type: ClusterIP
    ingress:
      enabled: true
      ingressClassName: traefik
      tls: true
      hostname: argocd.k8s.shimmerlabs.xyz
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecure
      paths:
        - /
    extraArgs:
      - --insecure
    metrics:
      enabled: true
      service:
        labels:
          release: kube-prometheus-stack
      serviceMonitor:
        enabled: true
        namespace: prometheus
        additionalLabels:
          release: kube-prometheus-stack

  redis:
    enabled: true

